<div>
  <%= quote.author %> said, <q><%= quote.body %></q>, in the <%= quote.location %>
  <% if quote.user == current_user %>
    <%= link_to "delete quote", quote_path(quote) method: :delete  %>
  <% end %>
</div>
